.menu-container {
    /* width: 17%; */
    /* background-color: var(--color-grey); */
    background-color: #cde9ff;
    /* border-radius: 10px; */
    /* border: 3px solid black; */
}

.nav-checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
}

.hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

input[type="checkbox"]:checked~.menu-items {
    transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked~.logo {
    display: none;
}

.menu-main {
    padding-top: 1.27em;
    text-align: center;
    /* background-color: rgb(55, 124, 184); */
}

.menu-text {
    font-size: 2.5rem;
    /* padding-left: 1em; */
    /* margin: 0.2 auto; */
    /* margin-left: auto; */
    /* margin-right: auto; */
}

.projects-text {
    font-size: 1.8rem;
}

.menu-options>li {
    cursor: pointer;
    font-size: 1.2rem;
}

.menu-options li {
    /* display: flex; */
    /* background-color: hotpink; */
}

.menu-options li span {
    /* display: inline-block; */
    text-align: end;
    /* background-color: gold; */
    padding-left: .2em;
}

.add-project-btn {
    margin-top: 1.5em;
    text-align: center;
}

.btn-addProject {
    text-align: center;
    font-size: 1rem;
}

.new-project-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: .4em;
    align-items: center;
    /* background-color: salmon; */
}

.new-project-container input {
    width: 90%;
    font-size: 1.2rem;
    padding: .1em 0;
}

.new-project-container button {
    font-size: 1rem;
}

.error-message {
    text-align: center;
    font-size: 1.2rem;
    padding: .1em 1em;
}

/* TODO: Stajling za hamburger meni, dovrsit sve */

/* TODO: Input stavit u main style (da svi inputi budu isti) */
/* TODO: Popravit dizajn kod dodavanja zadataka, i error message (da ne makne add project ako ima error message, da makne gresku kasnije) */