.project-title-container {
    padding-left: 1em;
    display: flex;
    align-items: center;
    gap: 1em;
    /* background-color: cadetblue; */
}

.project-title-btns {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    gap: 1em;
}

.project-name-input-edit {
    font-size: 1.4rem;
}

.tasks-container {
    /* width: 78%; */
    width: 100%;
    height: fit-content;
    /* border: 3px solid yellow; */
}

.tasks-list {
    display: grid;
    /* grid-template-columns: 32.5% 32.5% 32.5%; */
    grid-template-columns: 30.5% 30.5% 30.5%;
    justify-content: space-evenly;
    row-gap: .8em;
    /* gap: .6em .8em; */

    /* border: 3px solid salmon; */
}

.task {
    height: 380px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    border-radius: 15px;
    border: 1px solid black;
    /* border: 3px solid black; */
}

.task-content {
    height: 100%;
    /* background-color: rgb(165, 105, 31); */
}

.task-date {
    font-size: 1.3rem;
    display: block;
    text-align: end;
    padding: .2em .5em;
    /* width: 100%; */
    /* background-color: rosybrown; */
}

.task-title {
    font-size: 1.8rem;
    height: 70px;
    /* margin-bottom: 4em; */
    text-align: center;
    /* background-color: firebrick; */
}

.task-description {
    font-size: 1.4rem;
    display: block;
    height: 155px;
    padding: 0 .3em;
    /* overflow-y: scroll; */
    overflow-y: auto;
    /* background-color: rebeccapurple; */

    /* TODO: Pomjerit deskripciju gore prema naslovu */
    /* TODO: Nac kako napravit fancy scroll ako tekst prelazi */
    /* TODO: Pogledat sta sa visinama u task-u */
}

.task-btns {
    font-size: 1.8rem;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    padding: .3em 1em;
    border-top: 1px solid black;
    /* padding-bottom: .3em; */
    /* text-align: end; */
    /* background-color: limegreen; */
}

.task-priority-low {
    /* background-color: #beeb9f; */
    background-color: #f4f4f4;
    /* border: 3px solid green; */
}

.task-priority-medium {
    /* background-color: #ffff9d; */
    background-color: #fdf3b4;
}

.task-priority-high {
    /* background-color: #ff6138; */
    background-color: #ffd4aa;
}

.btn-add-task {
    font-size: 1rem;
    margin-top: 1.5em;  /* TODO: Pozicijonirat dugme kasnije u cosak (ili nac dobro mjesto za dugme)   */
    margin-left: 1em;
    /* margin-bottom: 1em; */
}

/* ** Buttonse u zadatku ne dirat (ako ostane da dizajn bude ko sticky notes) */
/* ** Ako se dizajn zadatka mijenja promjenit i buttonse */