.project-title-container {
    display: flex;
    align-items: center;
    gap: 1em;
    /* background-color: cadetblue; */
}

.project-title-btns {
    display: flex;
    align-items: center;
    gap: 1em;
}

.project-name-input-edit {
    display: none;
}

.tasks-container {
    /* width: 78%; */
    width: 100%;
    height: fit-content;
    border: 3px solid yellow;
}

.tasks-list {
    display: grid;
    grid-template-columns: 32.5% 32.5% 32.5%;
    gap: .6em .8em;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    /* gap: .5em 1.1em; */
    /* column-gap: 1em; */

    border: 3px solid salmon;
}

.task {
    /* width: 32.5%; */
    /* !! Sta radit sa visinom zadatka */
    
    /* ZELENA - LOW */
    /* background-color: #beeb9f; */
    
    /*  ZUTA - MEDIUM */
    /* background-color: #ffff9d; */
    
    /* RED - HIGH */
    /* background-color: #ff6138; */
    border: 3px solid black;
}

/* Copied from w3schools */
.confirmation-modal {  
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
}

.confirmation-container {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}

.modal-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cde9ff;
}