.project-title-container {
    display: flex;
    align-items: center;
    gap: 1em;
    /* background-color: cadetblue; */
}

.project-title-btns {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    gap: 1em;
}

.project-name-input-edit {
    font-size: 1.4rem;
}

.tasks-container {
    /* width: 78%; */
    width: 100%;
    height: fit-content;
    border: 3px solid yellow;
}

.tasks-list {
    display: grid;
    grid-template-columns: 32.5% 32.5% 32.5%;
    gap: .6em .8em;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    /* gap: .5em 1.1em; */
    /* column-gap: 1em; */

    border: 3px solid salmon;
}

.task {
    /* width: 32.5%; */
    /* !! Sta radit sa visinom zadatka */
    
    /* ZELENA - LOW */
    /* background-color: #beeb9f; */
    
    /*  ZUTA - MEDIUM */
    /* background-color: #ffff9d; */
    
    /* RED - HIGH */
    /* background-color: #ff6138; */
    border: 3px solid black;
}

.btn-add-task {
    font-size: 1rem;
    margin-top: 2em;  /* TODO: Pozicijonirat dugme kasnije u cosak (ili nac dobro mjesto za dugme)   */
}

/* ** Buttonse u zadatku ne dirat (ako ostane da dizajn bude ko sticky notes) */
/* ** Ako se dizajn zadatka mijenja promjenit i buttonse */